@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --text-color: #0B132A;
    --btn-color: #F53855;
    --text2-color:#4F5665;

}

body{
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

header{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

header > ul{
    display: flex ;
    list-style: none;
    gap: 20px;
    color: var(--text2-color);
}
header > div{
    display: flex;
    gap: 20px;
}

button{
    height: 45px;
    width: 150px;
    background-color: transparent;
    border-radius: 25px;
   
   
}

.btn1{
    border: none;
}

.btn2{
    border-color: var(--btn-color);
    color: var(--btn-color);
    
}

.btn3{
    background-color: var(--btn-color);
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(236, 42, 8, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.part1{
    display: flex;
    gap: 5%;
    align-items: center;
    flex-wrap: wrap;
    
}

.part1 > div{
    
    margin-top: 50px;
    margin-left: 50px;
    height: 100%;
    width: 50%;
}

.part1 > div > p{
    color: var(--text2-color);
}





body > section > div > h1{
    font-size: 40px;
}
.dates{
    background-color: #FFFFFF;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap:5px;
    background-size: contain;
    height: 400px;
    width: 100%;
    border-radius: 10px;

}

.dates > div {
    padding: 40px; 
    margin: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.dates > div > h4{
    color: var(--text2-color);
}

.rell{
    background-color: #0B132A;
    height:180px;
    width:10px;
}

.part3{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    align-items: center;
}

.part3 > div > ul {
    list-style-image: url(/assets/icon/verf.svg);
}

.plans{
    border: #0B132A;
    margin: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    

}

.selections{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    
}

.selections > div {
    list-style-image: url(/assets/icon/like.svg);
}

.selections > .rect{
    
    padding: 8px 12px;
    height: 760px;
    width: 330px;
    background-color: #ffffff;
    display: flex;
    border-color: #0B132A;
    border-radius: 15px;
    gap:20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.letter > h2{
    display: flex;
    margin-left: 20px; 
    
}

.selections > div{
    display: flex;
  
}

.abtn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--btn-color);
    border-color: var(--btn-color);
}


.rect > .abtn:hover {background-color: var(--btn-color)}

.rect > .abtn:active {
  background-color: #fcfaf7;

  color:#eb1414;
}

.rect > ul > li{
    margin-top: 10px;
    list-style-image: url(/assets/icon/like.svg) ;
}

footer{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    margin-left: 40px;
}

footer > div > ul{
    list-style: none;
    margin-top: 10px;
}

footer > div > ul > li{
    margin-top: 10px;
}

footer > div > h3{
    margin-left: 40px;
}

footer > div > div > {
    margin: 0;
}

.divh3{
    margin-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.divh3 > h3{
    font-size: 25px;
}